@import "tailwindcss";

body{
  background: linear-gradient(to right, darkblue, skyblue, darkblue);
  overflow-x: hidden;
  line-height: 1.5;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.animate-marquee {
  animation: marquee 25s linear infinite;
}


.animate-marquees{
  animation: marquee 25s linear infinite;
}


main {
  padding-top: 80px; /* if navbar is fixed */
}